* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background: #9e00ce;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background: #ff0095;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal:target {
  display: block;
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal-content h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.close {
  float: right;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #aaa;
}

.close:hover {
  color: #000;
}
